$mainColor: rgb(185,92,206)
$primary: rgb(185,92,206)
$danger: rgb(238,77,82)

@import "node_modules/bootstrap/scss/bootstrap"

.task-list
  display: flex

@media (max-width: 768px)
  .task-list
    display: flex
    flex-direction: column
    margin-top: 15px
  .task-list__addWindow
    margin-top: 15px

.task-list__list
  display: flex
  flex-direction: column
  min-width: 55%

.task-list__addWindow
  display: flex
  flex-direction: column
  box-shadow: -5px 0 20px 1px gray
  margin-left: 25px
  min-width: 45%
  transition: margin-right 2s

.task-list__btn
  border-radius: 20px


.task-list__list-items
  margin: 30px
  border-bottom: solid lightgray 1px

.task-list__list-item
  display: flex
  margin: 0
  padding-left: 0
  padding-bottom: 0
  padding-right: 0

.task-list__list-item-text
  margin-top: auto
  margin-bottom: 5px

.task-list__list-title
  margin-left: 30px

.task-list__list-item-button
  min-width: 100px
  font-size: 12px

.task-list__list-item-buttons
  margin-bottom: 10px
  margin-left: auto

.task-list__add-button
  margin-left: 30px
  max-width: 160px

.task-list__add-form
  margin: 30px

.task-list__add-input
  margin-top: 10px
  margin-bottom: 20px

.task-list__save-button
  border-color: lightgray